/*Fuente de estilo importada*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');

/*Cuerpo*/
body {
    background-image: url("imagenes/fondo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: 'Catamaran', sans-serif;
}

a {
    text-decoration: none;
}

/*Cambio de color cuando se pasa el mouse por encima*/
a:hover {
    text-decoration: underline;
    color: coral;
}

img {
    width: 100%;
}

.titulo{
    text-align: center;
    text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(0,0,0,0.5),
    4px 4px 5px rgba(0,0,0,0.7),
    0px 0px 7px rgba(0,0,0,0.4);;
    letter-spacing: 5px;
}

/*Barra de navegacion*/
#navbar {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
}

/*Barra de navegacion*/
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 20px;
    overflow: hidden;
    z-index: 100;
}

.lista-sm {
    display: block;
}

/*Barra de navegacion*/
#navbar li {
    float: left;
}

/*Barra de navegacion*/
#navbar li a {
    padding: 10px 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    color: white;
}

#navbar li.active a {
    color: lightseagreen;
}

li {
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/*Cambio de color cuando se pasa el mouse por encima de la barra de navegacion*/
#navbar li a:hover {
    border-radius: 6px;
    border-bottom: 4px solid white;
}

/*Icono de la barra de navegacion*/
.myicon {
    color: white;
    font-size: 1.5em;
    padding: 10px;
    display: none;
}

.atencion {
    margin-top: 20px;
    border: 1px;
    width: 33%;
    float: left;
    padding: 5px;
}

/*Contenido del cuerpo de texto, abarca desde cabecera hasta el pie de pagina*/
#content {
    max-width: 1180px;
    position: relative;
    top: 80px;
    margin: 0px auto;
    background-color: rgba(255, 253, 240, 0.61);
    padding: 1%;
    border-radius: 12px;
    z-index: 2;
}

/*Cabecera de la pagina*/
#content header {
    height: 120px;
    padding: 10px 20px;
    background-color: rgba(250, 246, 210, 0.904);
    border-radius: 7px;
    text-align: center;
}

/*Seccion principal*/
#principal {
    margin-top: 20px;
    border: 1px;
    width: 100%;
    float: left;
    padding: 5px;
    text-align: center;
}

/*Seccion principal*/
#principal2 {
    margin-top: 20px;
    border: 1px;
    width: 40%;
    float: left;
    padding: 5px;
    text-align: center;
}


/*Seccion secundaria*/
#secundario {
    margin-top: 20px;
    border: 1px;
    width: 40%;
    float: left;
    padding: 5px;
    text-align: center;
}

/*Pie de pagina*/
#content footer {
    clear: both;
    width: 100%;
    border: 1px;
    background-color: rgba(249, 250, 210, 0.418);
    border-radius: 7px;
    color: rgba(26, 15, 8, 0.959);
    height: 70px;
    padding: 30px;
}

/*Cuando el ancho de la pagina sea de 820px o menos se adaptara a las siguientes caracteristicas*/
@media screen and (max-width: 820px) {
    #content {
        padding: 0;
        max-width: 100%;
    }

    #content header {
        padding: 0;
        border-radius: 0;
    }

    #principal {
        padding: 3%;
        width: 45%;
    }

    #content footer {
        width: 100%;
        padding: 0;
    }
}

/*Cuando el ancho de la pagina sea de 600px o menos se adaptara a las siguientes caracteristicas*/
@media screen and (max-width: 600px) {
    #content {
        width: auto;
    }

    #principal {
        width: auto;
        float: none;
        margin: 0px;
    }

    #content footer {
        width: auto;
    }

    .lista-sm {
        display: none;
        width: 100%;
        height: 100%;
    }

    #navbar li {
        float: none;
        display: block;
    }

    #navbar li a {
        padding: 5px;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .myicon {
        display: block;
        text-align: center;
    }
}

.servicio {
    max-width: 270px;
    min-width: 270px;
    max-height: 170px;
    min-height: 70px;
}

.materia {
    max-width: 450px;
    min-width: 300px;
    max-height: 450px;
    min-height: 300px;
}