/*Fuente de estilo importada*/
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');

/*Cuerpo*/
body{
    background-color: lightblue;
    color: black;
    font-family: 'Catamaran', sans-serif;
}

a{
    text-decoration: none;
}

/*Cambio de color cuando se pasa el mouse por encima*/
a:hover{
    text-decoration: underline;
    color: coral;
}

img{
    width: 100%;
}


/*Barra de navegacion*/
#navbar{
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

/*Barra de navegacion*/
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 100;
}

.lista-sm{
    display: block;
}

/*Barra de navegacion*/
#navbar li{
float: left;
}

/*Barra de navegacion*/
#navbar li a{
    padding: 10px 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    color: white;
}

#navbar li.active a{
    color: lightseagreen;
}

/*Cambio de color cuando se pasa el mouse por encima de la barra de navegacion*/
#navbar li a:hover{
    background-color: lightcoral;
    color: black;
}

/*Icono de la barra de navegacion*/
.myicon{
    color: white;
    font-size: 1.5em;
    padding: 10px;
    display: none;
}

/*Contenido del cuerpo de texto, abarca desde cabecera hasta el pie de pagina*/
#content{
    max-width: 1180px;
    position: relative;
    top: 80px;
    margin: 0px auto;
    background-color: azure;
    padding: 1%;
}

/*Cabecera de la pagina*/
#content header{
    height: 120px;
    padding: 10px 20px;
    background-color: rgb(210, 249, 250);
    border-radius: 1em;
}

/*Seccion principal*/
#principal{
    margin-top: 20px;
    border: 1px;
    width: 40%;
    float: left;
    padding: 5px;
}

/*Seccion secundaria*/
#secundario{
    margin-top: 20px;
    border: 1px;
    width: 40%;
    float: left;
    padding: 5px;
}

/*Sidebar*/
#content aside{
    margin-top: 20px;
    border: 1px;
    width: 20%;
    float: left;
    padding: 5px;
}

/*Pie de pagina*/
#content footer{
    clear: both;
    width: 100%;
    border: 1px ;
    background-color: rgb(210, 249, 250);
    color: rgb(51, 24, 3);
    height: 70px;
    padding: 30px;
}

/*Cuando el ancho de la pagina sea de 820px o menos se adaptara a las siguientes caracteristicas*/
@media screen and (max-witdh: 820px) {
    #content{
        padding: 0;
        max-width: 100%;
    }

    #content header{
        padding: 0;
        border-radius: 0;
    }

    #principal{
        padding: 3%;
        width: 45%;
    }

    #secundaria{
        float: right;
        padding: 3%;
        width: 45%;
    }

    #content aside{
        clear: both;
        padding: 5%;
        width: 90%;
    }

    #content footer{
        width: 100%;
        padding: 0;
    }
}

/*Cuando el ancho de la pagina sea de 600px o menos se adaptara a las siguientes caracteristicas*/
@media screen and (max-witdh: 600px) {
    #content{
        width: auto;
    }

    #principal{
        width: auto;
        float: none;
        margin: 0px;
    }

    #secundario{
        width: auto;
        float: none;
        margin: 0px;
    }

    #content aside{
        padding: 0;
        width: auto;
    }

    #content footer{
        width: auto;     
    }

    .lista-sm{
        display: none;
    }

    #navbar li{
        float: none;
        display: block;
    }

    #navbar li a{
        padding: 5px;
        text-align: left;
        width: 100%;
    }

    .myicon{
        display: block;        
        text-align: right;
    }
}

.servicio{
    max-width: 450px;
    min-width: 400px;
    max-height: 300px;
    min-height: 200px;
}

.materia{
    max-width: 450px;
    min-width: 300px;
    max-height: 450px;
    min-height: 300px;
}